@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-main: #e6eff8; /* Accent 1 */
  --accent-darker: #b7bfc8; /* Accent 2 */
  --accent-lighter: #f3f7fc; /* Accent 1 Light */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-main: var(--accent-main);
  --color-accent-darker: var(--accent-darker);
  --color-accent-lighter: var(--accent-lighter);
  --font-sans: var(--font-open-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}

.bigHeader {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 8px;
}

.contentMargins {
  margin-left: 5%;
  margin-right: 5%;
}

.accentShadow {
  box-shadow: 0 4px 4px 0 rgba(183, 191, 200, 0.25);
}
